.yl-department-section {
	padding: 95px 0px 100px;
	background-color: #f9f8f8;
	.yl-department-content {
		padding-top: 35px;
	}
	.yl-department-btn {
		height: 50px;
		width: 170px;
		color: #fff;
		margin: 0 auto;
		margin-top: 40px;
		font-weight: 700;
		line-height: 50px;
		background-color: $base-color;
		&:hover {
			i {
				margin-left: 5px;
			}
		}
		@extend%btn-hover;
		&:after {
			background-color: #000;
		}
		a {
			width: 100%;
			display: block;
			i {
				transition: .3s all ease-in-out;
			}
		}
	}
}
.yl-department-innerbox {
	z-index: 1;
	overflow: hidden;
	border: 15px solid #fff;
	transition: .3s all ease-in-out;
	box-shadow: 0px 0px 43px 0px rgba(12, 12, 12, 0.16);
	&:after {
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		content: '';
		height: 100%;
		position: absolute;
		transition: .3s all ease-in-out;
		background: linear-gradient(to bottom, rgb(21 37 65 / 23%) 0%, rgb(0 1 4 / 88%) 75%);
	}
	&:before {
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		content: '';
		height: 100%;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background-color: #000;
		transition: .4s all ease-in-out;
	}
	.yl-department-text-icon {
		left: 45px;
		z-index: 3;
		opacity: 1;
		bottom: 45px;
		position: absolute;
		visibility: visible;
		transition: .3s all ease-in-out;
		.yl-department-icon {
			line-height: 1;
			margin-right: 15px;
			i {
				font-size: 50px;
				color: $base-color;
			}
		}
		.yl-department-text {
			overflow: hidden;
			h3 {
				color: #fff;
				font-size: 22px;
				font-weight: 700;
			}
			span {
				color: #fff;
			}
		}
	}
	.yl-department-hover-text {
		top: 40%;
		left: 0;
		right: 0;
		z-index: 3;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transform: translateY(-50%);
		transition: .4s all ease-in-out;
		.yl-department-icon {
			line-height: 1;
			margin-bottom: 15px;
			i {
				font-size: 50px;
				color: $base-color;
			}
		}
		.yl-department-text {
			overflow: hidden;
			h3 {
				color: #fff;
				font-size: 22px;
				font-weight: 700;
				padding-bottom: 5px;
			}
			span {
				color: #fff;
			}
		}
	}
	.yl-department-more-btn {
		right: 40px;
		z-index: 2;
		bottom: 0px;
		opacity: 0;
		line-height: 1;
		visibility: hidden;
		position: absolute;
		transition: .3s all ease-in-out;
		a {
			color: #fff;
			font-size: 30px;
		}
	}
	&:hover {
		border: 15px solid #000;
		transform: translateY(-25px);
		&:before {
			opacity: 1;
			visibility: visible;
		}
		.yl-department-text-icon {
			left: 20px;
			opacity: 0;
			line-height: 1;
			visibility: hidden;
		}
		.yl-department-hover-text {
			top: 50%;
			opacity: 1;
			visibility: visible;
		}
		.yl-department-more-btn  {
			right: 10px;
			opacity: 1;
			visibility: visible;
		}
	}
}
#yl-department-slider-id {
	.owl-stage-outer { 
		overflow: visible;
	}
	.owl-item {
		opacity: 0;
		transition: opacity 500ms;
	}
	.owl-item.active {
		opacity: 1;
	}
	.owl-nav {
		right: 0;
		top: -110px;
		position: absolute;
		.owl-next,
		.owl-prev {
			width: 60px;
			height: 60px;
			cursor: pointer;
			line-height: 60px;
			margin-left: 12px;
			text-align: center;
			border-radius: 100%;
			display: inline-block;
			border: 2px solid $base-color;
			transition: .3s all ease-in-out;
			&:hover {
				color: #fff;
				background-color: $base-color;
			}
		}
	}
}